<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<div th:fragment="header">
    <div class="main-header">
        <div class="logo-header" data-background-color="blue">
            <a th:href="@{/}" class="logo">
                <img th:src="@{/img/logo.png}" alt="navbar brand" class="navbar-brand">
            </a>
            <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="icon-menu"></i>
					</span>
            </button>
            <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="icon-menu"></i>
                </button>
            </div>
        </div>

        <!-- Navbar Header -->
        <nav class="navbar navbar-header navbar-expand-lg">
            <div class="container-fluid">
                <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                    <li class="nav-item dropdown hidden-caret">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                            <div class="profile-sm">
                                <img th:src="@{/img/profile-1.jpg}" alt="..." class="profile-img rounded-circle">
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-user animated fadeIn">
                            <div class="dropdown-user-scroll scrollbar-outer">
                                <li>
                                    <div class="user-box">
                                        <div class="profile-lg"><img th:src="@{/img/profile-1.jpg}" alt="image profile" class="profile-img rounded"></div>
                                        <div class="user-detail">
                                            <h4 th:text="${#session.getAttribute('user').userName}"></h4>
                                            <p class="text-muted" th:text="${#session.getAttribute('user').email}"></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" th:href="@{/#}"><i class="fas fa-cog"></i> Change Password</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                                </li>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- End Navbar -->
    </div>
</div>

<div th:fragment="side-menu">
    <div class="sidebar dark-bg">
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
            <div class="sidebar-content">
                <ul class="nav nav-primary">
                    <li class="nav-item">
                        <a th:href="@{/dashboard}">
                            <i class="fas fa-home"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/files}">
                            <i class="fas fa-file"></i>
                            <p>Files</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:fragment="footer">
    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">

            </nav>
            <div class="copyright ml-auto">
                © 2024 All Rights Reserved. Design By <a th:href="@{/#}">Aaryaweb</a>
            </div>
        </div>
    </footer>
</div>





</html>