<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="shortcut icon" th:href="@{/img/favicon.png}">

</head>
<body>
<div class="wrapper">
    <div th:replace="layout/baseTemplate :: header"></div>
    <!-- Sidebar -->
    <div th:replace="layout/baseTemplate :: side-menu"></div>
    <div class="main-panel">
        <div class="content">
            <div class="panel-header bg-white shadow-sm">
                <div class="page-inner  py-3 mb-5">
                    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                        <div class="">
                            <div class="header d-sm-flex align-items-center  text-center">
                                <h1 class="page-header banner-title">Functionality</h1>
                                <ul class="breadcrumb justify-content-sm-start justify-content-center">
                                    <li><a th:href="@{/dashboard}"><i class="icon-home"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-inner">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-head-row justify-content-between">
                                    <div class="card-title"><i class=""></i> Encrypt Decrypt Files</div>

                                </div>
                            </div>

                            <div class="card-body">
                                <div class="form-horizontal">
                                    <form id="upload-file" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label for="key" class="form-label">Key (Must be in multiple of 16 characters)</label>
                                            <input class="form-control" id="key" name="key" type="text" autocomplete="off" required onchange="validateKey(this);"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="file" class="form-label">Upload File to operate</label>
                                            <input class="form-control form-control-sm" id="file" name="file" type="file" required/>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-primary" id="enc-btn" onclick="changeAction('encrypt');">Encrypt</button>
                                            <button type="button" class="btn btn-primary" id="dec-btn" onclick="changeAction('decrypt');">Decrypt</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="layout/baseTemplate :: footer"></div>
    </div>

</div>
<!--   Global JS Files (used by all pages) Start  -->
<script th:src="@{/js/global/jquery.3.2.1.min.js}"></script>
<script th:src="@{/js/global/popper.min.js}"></script>
<script th:src="@{/js/global/bootstrap.min.js}"></script>
<!--   Global JS Files (used by all pages) End  -->

<!--   Plugin  JS Files  (used by this page) Start -->
<script th:src="@{/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js}"></script>
<script th:src="@{/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<script th:src="@{/js/plugin/datatables/datatables.min.js}"></script>
<!--   Plugin  JS Files (used by this page) End -->

<!-- custom JS -->
<script th:src="@{/js/custom.js}"></script>
<script >
    function validateKey(object){
        let val = object.value;
        let len = val.length;
        if(len % 16 != 0){
            alert('Key must be in multiple of 16');
            document.getElementById(object.id).value = '';
            return false;
        }
    }

    function changeAction(value){
        if(value == 'encrypt'){
            $('#upload-file').attr('action', '/encryptFile');
        }else{
            $('#upload-file').attr('action', '/decryptFile');
        }
        $('#upload-file').submit();
    }
</script>
</body>
</html>