<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Files</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="shortcut icon" th:href="@{/img/favicon.png}">

</head>
<body>
<div class="wrapper">
    <div th:replace="layout/baseTemplate :: header"></div>
    <!-- Sidebar -->
    <div th:replace="layout/baseTemplate :: side-menu"></div>
    <div class="main-panel">
        <div class="content">
            <div class="panel-header bg-white shadow-sm">
                <div class="page-inner  py-3 mb-5">
                    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                        <div class="">
                            <div class="header d-sm-flex align-items-center  text-center">
                                <h1 class="page-header banner-title">Users List</h1>
                                <ul class="breadcrumb justify-content-sm-start justify-content-center">
                                    <li><a th:href="@{/dashboard}"><i class="icon-home"></i></a></li>
                                    <li><a th:href="@{/files}">Files</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-inner">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-head-row justify-content-between">
                                    <div class="card-title"><i class="fas fa-list"></i> Files List</div>
                                    <div class="add-btn">

                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="table-responsive dataTables_scroll">
                                    <table id="basic-datatables" class="display table table-hover table-fixed" >
                                        <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>File Name</th>
                                            <th>Encryption Date</th>
                                            <th class="text-right">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="file,iterator : ${files}" th:id="${'row_'+iterator.index}">
                                            <td>
                                                <div class="profile">
                                                    <img th:src="${file.type}" alt="..." class="profile-img">
                                                </div>
                                            </td>
                                            <td th:text="${file.fileName}"></td>
                                            <td th:text="${file.encryptionDate}"></td>
                                            <td class="text-right">
                                                <div class="form-button-action">
                                                    <a th:id="${iterator.index}" th:href="@{${'/download?fileName='+file.fileName+'&key='}}" th:onclick="takeKey([[${iterator.index}]])" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Download">
                                                        <i class="fa fa-download"></i>
                                                    </a>
                                                    <a href="#" class="btn btn-link btn-danger" th:onclick="removeFileAndDeleteRow([[${iterator.index}]],[[${file.fileName}]])" data-toggle="tooltip" data-original-title="Remove">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="layout/baseTemplate :: footer"></div>
    </div>

</div>
<!--   Global JS Files (used by all pages) Start  -->
<script th:src="@{/js/global/jquery.3.2.1.min.js}"></script>
<script th:src="@{/js/global/popper.min.js}"></script>
<script th:src="@{/js/global/bootstrap.min.js}"></script>
<!--   Global JS Files (used by all pages) End  -->

<!--   Plugin  JS Files  (used by this page) Start -->
<script th:src="@{/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js}"></script>
<script th:src="@{/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<script th:src="@{/js/plugin/datatables/datatables.min.js}"></script>
<!--   Plugin  JS Files (used by this page) End -->

<!-- custom JS -->
<script th:src="@{/js/custom.js}"></script>
<script >
    $(document).ready(function() {
        $('#basic-datatables').DataTable({
        });
    });

    function takeKey(id){
         let value = prompt("Please enter key to decrypt :");
         var link = document.getElementById(id).href;
         document.getElementById(id).href = link+value;
    }

    function removeFileAndDeleteRow(id,fileName){
        let rowId = 'row_'+id;
        $.ajax({
		type: "DELETE",
		url: "/user/ajax/removeFile",
		data: {fileName : fileName},
		dataType: 'json',
		success: function(data){
			if(data.data == "true" || data.data){
				var row = document.getElementById(rowId);
                row.parentNode.removeChild(row);
                location.reload();
			}
		},
		error: function(data){
			console.log(data);
		}
	});
    }
</script>
</body>
</html>