<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/jquery-1.12.3.min.js}"></script>
    <title>Register</title>
</head>
<body>
<div class="container">
    <div class="box form-box">

        <header>Sign Up</header>
        <form th:action="@{/newUser}" method="post">
            <div class="field input">
                <label for="username">Username</label>
                <input type="text" name="userName" id="username" autocomplete="off" onchange="validateEmailUserName(this,'username');" required>
            </div>

            <div class="field input">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" autocomplete="off" onchange="validateEmailUserName(this,'email');" required>
            </div>

            <div class="field input">
                <label for="age">Age</label>
                <input type="number" name="age" id="age" autocomplete="off" required>
            </div>
            <div class="field input">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" autocomplete="off" required>
            </div>

            <div class="field">

                <input type="submit" class="btn" name="submit" value="Register" required>
            </div>
            <div class="links">
                Already a member? <a th:href="@{/signin}">Sign In</a>
            </div>
        </form>
    </div>

</div>

<script type="text/javascript">
    function validateEmailUserName(obj,type){
$.ajax({
		type: "GET",
		url: "/user/ajax/validateUserNameEmail",
		data: {value : obj.value, type : type},
		dataType: 'json',
		success: function(data){
			if(data.data == "true" || data.data){
				alert(type +' Already Exists');
				document.getElementById(obj.id).value = "";
			}
		},
		error: function(data){
			console.log(data);
		}
	});
    }
</script>
</body>
</html>