<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Login</title>
</head>
<body>
<div class="container">
    <div class="box form-box">
    <header>Login</header>
    <form th:action="@{/login}" method="post">
        <div class="field input">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" autocomplete="off" required>
        </div>

        <div class="field input">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" autocomplete="off" required>
        </div>

        <div class="field">

            <input type="submit" class="btn" name="submit" value="Login" required>
        </div>
        <div class="links">
            Don't have account? <a th:href="@{/}">Sign Up Now</a>
        </div>
    </form>
</div>

</div>
</body>
</html>